{{ set(this, 'title', t(app.name) ~' '~ model.title ) }}
<div class="col-lg-4 col-md-6">
    <div class="box text-center" >
        #{{ model.id }}
        <h2 class="intro-text text-center"><a href="/article/{{ model.id }}/{{ model.title|replace({ ' ': '_' }) }}" class="oldRedText"> {{ model.title }} </a></h2>
        <hr>
            <span class="glyphicon glyphicon-time"></span>
            <small>{{ model.created_at|date('F j, Y ') }} </small>
             |
            <span class="glyphicon glyphicon-user"></span>
            <small> {{ model.getAuthorName() }}</small>
             |
            <span class="glyphicon glyphicon-tags"></span>
            <a href="{{ path([t('articles')~'/'~model.getCategoryName()]) }}">{{ model.getCategoryName() }}</a>

            {#<img class="img-responsive img-border img-full" src="{{ this.theme.getUrl('img/slide-1.jpg') }}" alt="">#}

            <p>{{ model.summary }}</p>
            {% if app.user.can('updateArticle', {'model': model}) %}
                {# include 'attachmentsAdmin.twig' #}
            {% else %}
                {# include 'attachments.twig' #}
            {% endif %}
            <a href="view?id={{ model.id }}" class="oldRedText btn btn-default btn-lg">{{ t('Read more') }}</a>

    </div>
</div>