{{ set(this, 'title', t(app.name) ~' '~ model.title ) }}

<div class="box col-lg-12 text-center">
    <h2 class="intro-text text-center">{{ model.title }} </h2>
    <hr>
    <img class="img-responsive img-border img-full" src="{{ this.theme.getUrl('img/slide-1.jpg') }}" alt="">

        <p class="time">
            <span class="glyphicon glyphicon-time"></span>
            <small>{{ model.created_at|date('F j, Y ') }} </small>
        </p>

    <p>{{ model.summary }}</p>
    <a href="view?id={{ model.id }}" class="btn btn-default btn-lg">{{ t('Read more') }}</a>

</div>