{% set assetDir = register_asset_bundle('frontend/assets/AppAsset') %}  {# asset root for yii advanced template #}
{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html('CsrfMetaTags') | raw }}
    <title>{{ this.title }}</title>
    {{ void(this.head) }}
</head>
<body>
{{   void(this.beginBody()) }}
<div class="top">
    <div class="brand">
        Casual <i>Sampa</i>
    </div>
    <div class="address-bar">{{ t('Programming') }} | {{ t('World Today') }} | {{ t('Fun') }} | {{ t('Personal') }}</div>
</div>
<div class="redhand">
    <img src="{{ app.view.theme.baseUrl }}/img/redhand.svg"> <span>Dovie' andi se tovya sagain</span>
</div>
    {{ nav_bar_begin({
        'brandLabel': '<div class="dovieBrand">
            <img  src="' ~ app.view.theme.baseUrl ~ '/img/redhand.svg"><span> Dovie\' andi se tovya sagain</span>
            </div>',
        'brandUrl': app.homeUrl,
        'brandOptions': {'style': 'display: block;'},
        'options': { 'class': 'navbar-default' },
        'renderInnerContainer': false,
    }) }}

    <!-- everyone can see Home page -->
    {% set menuItems = [{'label': t('Home'), 'url': ['/site/index']}] %}

    <!-- we do not need to display Article/index, About and Contact pages to editor+ roles -->
    {% if not app.user.can('editor') %}
        {% set menuItems = menuItems|merge([{ 'label': t('Articles'), 'url': ['/article/index'] }]) %}
        {% set menuItems = menuItems|merge([{ 'label': t('About'), 'url': ['/site/about'] }]) %}
        {% set menuItems = menuItems|merge([{ 'label': t('Contact'), 'url': ['/site/contact'] }]) %}
    {% elseif app.user.can('editor') %}
        {% set menuItems = menuItems|merge([{ 'label': t('Articles'), 'url': ['/article/admin'] }]) %}
    {% endif %}

    {% if app.user.isGuest == false %}
        {% set menuItems = menuItems|merge([
            {'label': 'Main', 'url': ['/site/index']},
            {'label': 'About', 'url': ['/site/about']},
            {
                'label': t('logout') ~ '(' ~ app.user.identity.username ~ ')',
                'url': ['/site/logout'],
                'linkOptions': {'data-method': 'post'}
            }
        ])
    %}
    {% else %}
        {% set menuItems = menuItems|merge([
            {'label': t('Login'), 'url': ['/site/login']},
        ])
    %}
    {% endif %}
    {{ nav_widget({
        'options': { 'class': 'navbar-nav navbar' },
        'items': menuItems
    }) | raw }}

    {{ nav_bar_end() }}

<div class="container"> {{ content | raw }} </div>
<footer class="footer">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="selectLang">{{ LanguageSelector({'options': {'style': 'min-width:35px;'}}) | raw }}</div>
                <p>Copyright &copy; {{ t(app.name) }} {{  'now'|date('Y') }} {{ Yii.powered() | raw }}</p>
            </div>
        </div>
    </div>
</footer>
{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}